*,
*::before,
*::after{
	margin: 0;
	padding: 0;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}


html{
	height:100%;
	width:100%;
}
body{
	height: 100%;
	width: 100%;
	font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif
}

.wrap{
	height:100%;
}

.cabecera{
	background: linear-gradient(rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.979)), url("/assets/img/background.jpg");
	display: flex;
	flex-direction:column;
	align-items:center;
	justify-content: center;
	text-transform: uppercase;
	letter-spacing: 20px;
	padding-bottom: 10px;
	background-color: #fff;
	font-size: 20px;
	text-align: center;
	
}

.cabecera>img{
	width: 230px;
	height: 180px;
	margin-top: 10px;
	margin-bottom: 20px;
}

ul.tabs{
	width: 100%;
	background: #363636;
	list-style: none;
	display: flex;
}

ul.tabs li{
	width: 18%;
}

ul.tabs li a{
	color: #fff;
	text-decoration: none;
	font-size: 16px;
	text-align: center;

	display: block;
	padding: 20px 0px;
}

.active{
	background: #0984CC;
}

ul.tabs li a .tab-text{
	margin-left: 8px;
}

.secciones{
	width: 100%;

	background: #fff;
	margin: 5px auto;
}

.secciones article{
	padding: 30px;
}

.secciones article p{
	text-align: justify;
}

article{
	height:100%;
}
.tab-text{
	display:inline-block;
	font-size: 20px;
}
.tab-text:hover{
	font-weight: 600;
}
#tab1{
	background: linear-gradient(rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.979)), url("/assets/img/about.jpg");
	padding:80px 110px;
	display:flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	background-size: cover;
}
#tab1 h1{
	padding-bottom: 20px;
	font-size: 60px;
	letter-spacing: 3px;
	color: #0984CC;
}
#tab1 p{
	font-size: 25px;
	color: white;
}
.about{
	background: rgba(10, 9, 9, 0.877);
	text-align: center;
	padding: 80px;
	border-radius: 20px;
}
#tab2{
	height:1990px;
}
#tab3{
	height:2180px;
}
#tab4{
	height:2050px;
}
@media screen and (max-width: 700px){
	ul.tabs li{
		width: none;
		flex-basis: 0;
		flex-grow: 1;
	}
}

@media screen and (max-width: 450px){
	ul.tabs li a{
		padding: 15px 0px;
	}

	ul.tabs li a .tab-text{
		display: none;
	}

	.secciones article{
		padding: 20px;
	}
}